<div class="wrapper pb-5">
    <header id="site-header" class="fixed-top">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="#">
                    <img src="./assets/image/logo.png" alt="" height="60">
                </a>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <button class="btn btn-outline-primary me-auto ms-5">Step 1 of 4</button>
                    <button class="btn btn-primary px-4">Exit</button>
                </div>
            </nav>
        </div>
    </header>

    <section class="viewing">
        <div class="container">
            <h2>Choose What type of course you are creating</h2>

            <div class="row align-items-center">
                <div class="col-md-6 mb-4">
                    <div class="course-create tr-bl-radius in-out-shadow bg-white p-4 text-center">
                        <h2>
                            Create Course
                        </h2>
                        <div class="row align-items-center">
                            <div class="col-4">
                                <img src="../../../assets/image/video-folder.png" alt="" class="img-fluid">
                            </div>
                            <div class="col text-end">
                                <p>
                                    Upload your lecture high quality video ,pdf or text
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-4">
                    <div class="course-create tr-bl-radius in-out-shadow bg-white p-4 text-center">
                        <h2>
                            Create Question Paper
                        </h2>
                        <div class="row align-items-center">
                            <div class="col-4">
                                <img src="../../../assets/image/pen-folder.png" alt="" class="img-fluid">
                            </div>
                            <div class="col text-end">
                                <p>
                                    Help students to know their knowledge by providing question papers
                                </p>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>