<div class="wrapper pb-5">
    <section class="">
        <div class="container">
            <div class="course-create p-4">
                <div class="row align-items-center">
                    <div class="col-md-4">
                        <button class="btn btn-outline-primary">
                            Create Course
                        </button>
                    </div>
                    <div class="col-md-8 text-end">
                        <p class="mb-0">
                            Create your course from here
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <section class="">
        <div class="container">
            <div class="course-create bg-white in-out-shadow tr-bl-radius p-4">
                <div class="row align-items-center">
                    <div class="col-md-2">
                        <div class="draft-course">
                            Draft Course
                        </div>
                    </div>
                    <div class="col-md-8">
                        <p class="mb-0">
                            Course Name
                        </p>
                    </div>
                    <div class="col-md-2 d-flex flex-column align-items-end">
                        <span>Edit <i class="far fa-edit ms-2"></i></span>
                        <span>Delete <i class="far fa-trash-alt ms-2"></i></span>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section class="">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 mb-4">
                    <div class="course-create tr-bl-radius in-out-shadow bg-white p-4 text-center">
                        <h2>
                            Get Started with Video
                        </h2>
                        <div class="row align-items-center">
                            <div class="col-4">
                                <img src="../../../assets/image/get-started-video.png" alt="" class="img-fluid">
                            </div>
                            <div class="col text-end">
                                <p>
                                    If you have any doubt how to create a video lets click here for the guidance.
                                </p>
                                <div class="text-center">
                                    <a href="javascript:;">Get Started</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-4">
                    <div class="course-create tr-bl-radius in-out-shadow bg-white p-4 text-center">
                        <h2>
                            Connect with students
                        </h2>
                        <div class="row align-items-center">
                            <div class="col-4">
                                <img src="../../../assets/image/connect-students.png" alt="" class="img-fluid">
                            </div>
                            <div class="col text-end">
                                <p>
                                    Set your course for success in building your students.
                                </p>
                                <div class="text-center">
                                    <a href="javascript:;">Get Started</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 my-4">
                    <div class="course-create tr-bl-radius in-out-shadow bg-white p-4 text-center">
                        <h2>
                            Join as a new teacher
                        </h2>
                        <div class="row align-items-center">
                            <div class="col-md-4">
                                <img src="../../../assets/image/new-teacher.png" alt="" class="img-fluid">
                            </div>
                            <div class="col-md-5 offset-md-1 text-end">
                                <p>
                                    Get exclusive tips and resources designed to help you launch your first course
                                    faster!
                                </p>
                                <div class="text-center">
                                    <a href="javascript:;">Get Started</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="viewing bg-white">
        <div class="container">
            <div class="p-4">
                <div class="row align-items-center">
                    <div class="col-md-4 text-center">
                        <img src="../../../assets/image/test-video.png" alt=""><br>
                        <strong class="mt-3">Test Your Video</strong>
                    </div>
                    <div class="col-md-4 text-center">
                        <img src="../../../assets/image/teacher-community.png" alt=""><br>
                        <strong class="mt-3">Teacher's Community</strong>
                    </div>
                    <div class="col-md-4 text-center">
                        <img src="../../../assets/image/help-support.png" alt=""><br>
                        <strong class="mt-3">Help and Support</strong>
                    </div>
                </div>
            </div>

        </div>
    </section>


    <section class="text-center mt-5">
        <div class="container">
            <h2>Are Yor Ready To Join With Us? </h2>
            <button class="btn btn-outline-primary mt-4">Create Course</button>
        </div>
    </section>
</div>