<div class="wrapper">
    <section class="text-center banner">
        <img src="./assets/image/diegodrawsart-students.gif" alt="">
    </section>
    
    <section class="subject-section">
        <div class="container-fluid">
            <div class="subject-tabs">
                <ul>
                    <li>
                        <a href="javascript:;">
                            Hindi
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            English
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            Mathematics
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            Physics
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            Chemistry
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            Biology
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            Computer
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            History & Civics
                        </a>
                    </li>
                </ul>
            </div>
            <div class="row mb-4">
                <div class="col-md-3">
                    <div class="card">
                        <img class="card-img-top" src="./assets/image/1.png" />
                        <div class="card-body pt-0 px-3">
                            <h5 class="card-title">Topic</h5>
                            <p class="card-text">Teacher's Name:</p>
                            <div class="teachername-ingrid">
                                <div>1.</div>
                                <div>2.</div>
                                <div>3.</div>
                                <div>4.</div>
                            </div>
                            <div class="rating-ingrid">
                                <div>
                                    Local Rating:
                                    <span>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </span>
                                </div>
                                <div>
                                    Global Rating:
                                    <span>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </span>
                                </div>
    
                            </div>
                            <div class="three-grid">
                                <div></div>
                                <div>
                                    <i class="fa fa-signal"></i> Beginner
                                </div>
                                <div>
                                    <i class="fal fa-clock"></i> 10 Weeks
                                </div>
                            </div>
    
                            <div class="price">
                                Price $5
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img class="card-img-top" src="./assets/image/2.png" />
                        <div class="card-body pt-0 px-3">
                            <h5 class="card-title">Topic</h5>
                            <p class="card-text">Teacher's Name:</p>
                            <div class="teachername-ingrid">
                                <div>1.</div>
                                <div>2.</div>
                                <div>3.</div>
                                <div>4.</div>
                            </div>
                            <div class="rating-ingrid">
                                <div>
                                    Local Rating:
                                    <span>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </span>
                                </div>
                                <div>
                                    Global Rating:
                                    <span>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </span>
                                </div>
    
                            </div>
                            <div class="three-grid">
                                <div></div>
                                <div>
                                    <i class="fa fa-signal"></i> Beginner
                                </div>
                                <div>
                                    <i class="fal fa-clock"></i> 10 Weeks
                                </div>
                            </div>
    
                            <div class="price">
                                Price $5
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img class="card-img-top" src="./assets/image/3.png" />
                        <div class="card-body pt-0 px-3">
                            <h5 class="card-title">Topic</h5>
                            <p class="card-text">Teacher's Name:</p>
                            <div class="teachername-ingrid">
                                <div>1.</div>
                                <div>2.</div>
                                <div>3.</div>
                                <div>4.</div>
                            </div>
                            <div class="rating-ingrid">
                                <div>
                                    Local Rating:
                                    <span>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </span>
                                </div>
                                <div>
                                    Global Rating:
                                    <span>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </span>
                                </div>
    
                            </div>
                            <div class="three-grid">
                                <div></div>
                                <div>
                                    <i class="fa fa-signal"></i> Beginner
                                </div>
                                <div>
                                    <i class="fal fa-clock"></i> 10 Weeks
                                </div>
                            </div>
    
                            <div class="price">
                                Price $5
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img class="card-img-top" src="./assets/image/4.png" />
                        <div class="card-body pt-0 px-3">
                            <h5 class="card-title">Topic</h5>
                            <p class="card-text">Teacher's Name:</p>
                            <div class="teachername-ingrid">
                                <div>1.</div>
                                <div>2.</div>
                                <div>3.</div>
                                <div>4.</div>
                            </div>
                            <div class="rating-ingrid">
                                <div>
                                    Local Rating:
                                    <span>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </span>
                                </div>
                                <div>
                                    Global Rating:
                                    <span>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </span>
                                </div>
    
                            </div>
                            <div class="three-grid">
                                <div></div>
                                <div>
                                    <i class="fa fa-signal"></i> Beginner
                                </div>
                                <div>
                                    <i class="fal fa-clock"></i> 10 Weeks
                                </div>
                            </div>
    
                            <div class="price">
                                Price $5
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <h2>Most Viewing</h2>
            <div class="row">
                <div class="col-md-3">
                    <div class="card">
                        <img class="card-img-top" src="./assets/image/5.png" />
                        <div class="card-body pt-0 px-3">
                            <h5 class="card-title">Topic</h5>
                            <p class="card-text">Teacher's Name:</p>
                            <div class="teachername-ingrid">
                                <div>1.</div>
                                <div>2.</div>
                                <div>3.</div>
                                <div>4.</div>
                            </div>
                            <div class="rating-ingrid">
                                <div>
                                    Local Rating:
                                    <span>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </span>
                                </div>
                                <div>
                                    Global Rating:
                                    <span>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </span>
                                </div>
    
                            </div>
                            <div class="three-grid">
                                <div></div>
                                <div>
                                    <i class="fa fa-signal"></i> Beginner
                                </div>
                                <div>
                                    <i class="fal fa-clock"></i> 10 Weeks
                                </div>
                            </div>
    
                            <div class="price">
                                Price $5
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img class="card-img-top" src="./assets/image/6.png" />
                        <div class="card-body pt-0 px-3">
                            <h5 class="card-title">Topic</h5>
                            <p class="card-text">Teacher's Name:</p>
                            <div class="teachername-ingrid">
                                <div>1.</div>
                                <div>2.</div>
                                <div>3.</div>
                                <div>4.</div>
                            </div>
                            <div class="rating-ingrid">
                                <div>
                                    Local Rating:
                                    <span>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </span>
                                </div>
                                <div>
                                    Global Rating:
                                    <span>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </span>
                                </div>
    
                            </div>
                            <div class="three-grid">
                                <div></div>
                                <div>
                                    <i class="fa fa-signal"></i> Beginner
                                </div>
                                <div>
                                    <i class="fal fa-clock"></i> 10 Weeks
                                </div>
                            </div>
    
                            <div class="price">
                                Price $5
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img class="card-img-top" src="./assets/image/7.png" />
                        <div class="card-body pt-0 px-3">
                            <h5 class="card-title">Topic</h5>
                            <p class="card-text">Teacher's Name:</p>
                            <div class="teachername-ingrid">
                                <div>1.</div>
                                <div>2.</div>
                                <div>3.</div>
                                <div>4.</div>
                            </div>
                            <div class="rating-ingrid">
                                <div>
                                    Local Rating:
                                    <span>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </span>
                                </div>
                                <div>
                                    Global Rating:
                                    <span>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </span>
                                </div>
    
                            </div>
                            <div class="three-grid">
                                <div></div>
                                <div>
                                    <i class="fa fa-signal"></i> Beginner
                                </div>
                                <div>
                                    <i class="fal fa-clock"></i> 10 Weeks
                                </div>
                            </div>
    
                            <div class="price">
                                Price $5
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card">
                        <img class="card-img-top" src="./assets/image/8.png" />
                        <div class="card-body pt-0 px-3">
                            <h5 class="card-title">Topic</h5>
                            <p class="card-text">Teacher's Name:</p>
                            <div class="teachername-ingrid">
                                <div>1.</div>
                                <div>2.</div>
                                <div>3.</div>
                                <div>4.</div>
                            </div>
                            <div class="rating-ingrid">
                                <div>
                                    Local Rating:
                                    <span>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </span>
                                </div>
                                <div>
                                    Global Rating:
                                    <span>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </span>
                                </div>
    
                            </div>
                            <div class="three-grid">
                                <div></div>
                                <div>
                                    <i class="fa fa-signal"></i> Beginner
                                </div>
                                <div>
                                    <i class="fal fa-clock"></i> 10 Weeks
                                </div>
                            </div>
    
                            <div class="price">
                                Price $5
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="categories">
        <div class="container-fluid">
            <h2>Top Categories</h2>
            <div class="row mb-4">
                <div class="col-md-3 text-center mb-3">
                    <div class="">
                        <img src="./assets/image/9.png" />
                        <p>Information Technology</p>
                    </div>
                </div>
                <div class="col-md-3 text-center mb-3">
                    <div class="">
                        <img src="./assets/image/10.png" />
                        <p>Finance</p>
                    </div>
                </div>
                <div class="col-md-3 text-center mb-3">
                    <div class="">
                        <img src="./assets/image/11.png" />
                        <p>Design</p>
                    </div>
                </div>
                <div class="col-md-3 text-center mb-3">
                    <div class="">
                        <img src="./assets/image/12.png" />
                        <p>Data Science</p>
                    </div>
                </div>
                <div class="col-md-3 text-center mb-3">
                    <div class="">
                        <img src="./assets/image/13.png" />
                        <p>Business</p>
                    </div>
                </div>
                <div class="col-md-3 text-center mb-3">
                    <div class="">
                        <img src="./assets/image/14.png" />
                        <p>Math's & Logic</p>
                    </div>
                </div>
                <div class="col-md-3 text-center mb-3">
                    <div class="">
                        <img src="./assets/image/15.png" />
                        <p>Personal Development</p>
                    </div>
                </div>
                <div class="col-md-3 text-center mb-3">
                    <div class="">
                        <img src="./assets/image/16.png" />
                        <p>Computer Science</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <section class="whatweprovide">
        <h2>What we provide for you</h2>
        <div class="col-md-6 mx-auto">
            <div class="block-grid">
                <div class="block">
                    <span class="icon">
                        <img src="./assets/image/courses.png" />
                    </span>
                    <h3>
                        +1000 Courses
                    </h3>
                    <p>
                        Explore a wide range of courses in all fields
                    </p>
                </div>
                <div class="block">
                    <span class="icon">
                        <img src="./assets/image/expert.png" />
                    </span>
                    <h3>
                        Industry Experts
                    </h3>
                    <p>
                        Professional content introduced by the best experts
                    </p>
                </div>
                <div class="block">
                    <span class="icon">
                        <img src="./assets/image/access.png" />
                    </span>
                    <h3>
                        Unlimited Access
                    </h3>
                    <p>
                        Access all courses with one click and with free fees
                    </p>
                </div>
            </div>
        </div>
    
    </section>
    
    <section class="partner text-center mt-5">
        <h2>
            Partner with
        </h2>
    </section>
    
    <section class="student-view text-center mt-5">
        <div class="col-md-4 mx-auto">
            <div class="testimonial-box">
                <div class="saying">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur minus optio laudantium id fugit
                    molestiae dolore maxime eius, odio, cumque mollitia eos aspernatur illo quas nemo perferendis nesciunt
                    exercitationem officia.
                </div>
                <div class="author">
                    <img src="./assets/image/profile-pic.png" />
                    <div class="name">
                        Student Name
                    </div>
                    <div class="designation">
                        Student
                    </div>
                </div>
                <div class="graphx">
                    <img src="./assets/image/graphx.png" />
                </div>
            </div>
        </div>
    </section>
</div>
