<div class="faded-logo">
    <img src="../../assets/image/logo-faded.png" alt="">
</div>
<div id="choose">
    <div class="container text-center h-100 d-flex flex-column py-4">
        <h3>
            Welcome to Global Genius Index(G2I)
        </h3>
        <div class="choose-as d-flex flex-column flex-fill">
            <h2>
                Sign Up AS
            </h2>
            <div class="col-md-8 mx-auto flex-fill">
                <div class="grid-wrap">
                    <!-- <div class="block-animate"></div> -->
                    <div class="grid">
                        <a href="javascript:;" (click)="roleType('Student')">
                            <img src="../../assets/image/student.png" alt="">
                            <p>Student</p>
                        </a>
                        <a href="javascript:;" (click)="roleType('Teacher')">
                            <img src="../../assets/image/teacher.png" alt="">
                            <p>Teacher</p>
                        </a>
                        <a href="javascript:;" (click)="roleType('Parents')">
                            <img src="../../assets/image/parent.png" alt="">
                            <p>Parents</p>
                        </a>
                        <a href="javascript:;" (click)="roleType('Investor')">
                            <img src="../../assets/image/investor.png" alt="">
                            <p>Investor</p>
                        </a>
                        <a href="javascript:;" class="centered-grid-block" (click)="roleType('Admin')">
                            <img src="../../assets/image/admin.png" alt="">
                            <p>Admin</p>
                        </a>
                    </div>
                </div>
                
            </div>
           
            <div class="">
                <button class="btn btn-primary px-4" (click)="goHome()">Home</button>
            </div>
        </div>
</div>
</div>
