.faded-logo {
    position: absolute;
    top: 30px;
    left: 30px;

    img {
        height: 100px;
    }
}

h3,
h2 {
    color: #230041;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 20px;
}

#choose {
    background: url('../../assets/image/choose-bg.png') left center/contain repeat-y;
    height: 100%;
    .choose-as {
        padding-top: 20px;
    
        .grid-wrap {
            position: relative;
            height: 100%;
            padding: 70px 0;
    
            .block-animate {
                position: absolute;
                width: 100%;
                height: 100%;
                opacity: 0.3;
                top: 0;
                left: 0;
                background: url('../../assets/image/blockchain.gif') center/cover no-repeat;
            }
    
            .grid {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-column-gap: 0;
                grid-row-gap: 0;
                height: 100%;
                position: relative;
    
                a {
                    color: #000;
                    font-size: 20px;
                    font-weight: 600;
                    text-decoration: none;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
    
                    img {
                        height: 130px;
                    }
                    p{
                        margin-bottom: 0;
                    }
    
                    &:nth-child(2n) {
                        border-left: 1px solid #BB84E8;
                    }
    
                    &:nth-child(4n),
                    &:nth-child(4n-1) {
                        border-top: 1px solid #BB84E8;
                    }

                    &.centered-grid-block{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
            }
        }
    }
}

